body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	color: #111;
}

body.theme-dark {
	background-color: #121212;
	color: #eaeaea;
}

body.theme-dark h1,
body.theme-dark h2,
body.theme-dark h3,
body.theme-dark p,
body.theme-dark label {
	color: #eaeaea;
}

button {
	padding: 8px 12px;
	border: none;
	cursor: pointer;
	background-color: #222;
	color: white;
	border-radius: 4px;
}

body.theme-dark button {
	background-color: #333;
}

button:hover {
	background-color: #444;
}

