.page {
	padding: 20px;
	max-width: 900px;
	margin: auto;
}

.card {
	background: white;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 6px;
}
body.theme-dark .card,
body.theme-dark .page,
body.theme-dark .page-box {
	background-color: #1e1e1e;
	color: #eaeaea;
}