<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mostrar</title>
	</head>
	<body>
		<h2>Buscar Carro</h2>
		<form method="post">
			{% csrf_token %} {{ form.as_p }}
			<button type="submit">Buscar</button>
		</form>

		<hr />
		{% if oneCar or multipleCars %}
		<h2>Resultado:</h2>
		{% endif %}
		<ul>
			{% if oneCar %} 
			{% for key, value in oneCar.items %}
			<li><strong>{{ key }}:</strong> {{ value }}</li>
			{% endfor %} {% endif %}

			{% if multipleCars %}
			{% for car in multipleCars %}
			============
			{% for key, value in car.items %}
			<li><strong>{{ key }}:</strong> {{ value }}</li>
			{% endfor %}{% endfor %} {% endif %}
		</ul>
	</body>
</html>
